html { min-width: 320px !important; }

body {
    min-width: 320px !important;
    background-color: #203c5c;
	background-image: url("http://2ndskiesforex.com/wp-content/themes/2ndSkies/library/images/bg-pattern.png");

}
#wrapper {
	background-image: url("http://2ndskiesforex.com/wp-content/themes/2ndSkies/library/images/bg-chart.png");
	background-position: center bottom;
	background-repeat: no-repeat;	
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { max-width: 1170px !important }
#wrapper .navbar-inner {
	background: none repeat scroll 0 0 #1a2d43 !important;
	border-color: #325882 !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) !important;
}
#wrapper .navbar-inner #searchForm { display: none }
.logo { background-image: url("http://courses.2ndskiesforex.com/images/logo.png") !important; }
#yw0 { display: none; }
#wrapper .form-login {
	background: transparent !important;
	border: none;
	border-radius: 0 !important;
	border-left: 1px solid #8cb9ec !important;
	/*margin: 25px auto 0;*/
	margin-top: 25px;
	margin-left: 230px;
	max-width: 300px;
	padding-top: 19px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
}

.login-form-wrap { 
	position:relative;
	width:580px;
	margin: 50px auto 0;
}
.form-login h1 {
	color: #8cb9ec;
	font-weight: 400;
	font-size: 32px;
	margin-bottom: 15px
}
.login-form-wrap .form-login .checkbox { color: #b9c7dd }
.login-form-wrap .form-login .help-block.error { color: #8CB9EC }

.form-login input[type="text"], .form-login input[type="password"] {
    background-color: #1e2c41;
    border: 1px solid #667c9f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	font-size:14px !important;
	color: #fff
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.form-login ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b9c7dd;
}
.form-login :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b9c7dd;
    opacity:  1;
}
.form-login ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b9c7dd;
    opacity:  1;
}
.form-login :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b9c7dd;
}


.form-login input:focus::-webkit-input-placeholder  { /* WebKit browsers */
	opacity:  .5;
}
.form-login input:focus:-moz-placeholder  { /* Mozilla Firefox 4 to 18 */
    opacity:  .5;
}
.form-login input:focus::-moz-placeholder  { /* Mozilla Firefox 19+ */
    opacity:  .5;
}
.form-login input:focus:-ms-input-placeholder  { /* Internet Explorer 10+ */
	opacity:  .5;
}

.form-login .checkbox {
	padding-top: 8px;
	padding-bottom: 20px;
	float:left;
	font-size: .9em;
}

.button-wrap {
	border-bottom: 1px solid #37587c;
	margin-top: 25px;
	margin-bottom: 10px;
}

.action-links li {
    border-left: 1px solid #8cb9ec;
    padding: 0 8px;
	font-size: .9em;
	line-height: 14px
}
.action-links a {color: #8cb9ec}
.action-links a:hover {color: #8cb9ec}

.form-login .btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.05);
	background-color: #ab0303;
*background-color:#ab0303;
	background-image: -moz-linear-gradient(top, #d20707, #ab0303);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d20707), to(#ab0303));
	background-image: -webkit-linear-gradient(top, #d20707, #ab0303);
	background-image: -o-linear-gradient(top, #d20707, #ab0303);
	background-image: linear-gradient(to bottom, #d20707, #ab0303);
	background-repeat: repeat-x;
	border-color: #ab0303 #ab0303 #802420;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd20707', endColorstr='#ffab0303', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.form-login .btn-primary:hover, .form-login .btn-primary:focus, .form-login .btn-primary:active, .form-login .btn-primary.active, .form-login .btn-primary.disabled, .form-login .btn-primary[disabled] {
	color: #fff;
	background-color: #ab0303;
*background-color:#a9302a
}
.form-login .btn-primary:active, .form-login .btn-primary.active { background-color: #942a25 \9 }
.form-login .btn-large {
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 8px;
	padding-right: 36px;
	padding-bottom: 7px;
	padding-left: 36px;
}

.login-logo{
   position:absolute;
   left:-20px;
   margin-left:0;
   top:30px;
}

#footer { box-shadow: 0 -1px 0 0px #292a2e !important; }
#footer .footer-frame { border-top: 1px solid #445878 !important }
#footer .footer-frame p { margin-bottom:0 }

@media (min-width: 701px) and (max-width: 980px) {
.logo {
    margin: -5px 0 -40px 25px !important;
}
}
@media (max-width: 700px){
.logo {
    margin: -5px 0 -40px 15px !important;
}
.login-logo { display:none}
.login-form-wrap { width:100%; margin: 45px auto 0;}
#wrapper .form-login {
    border: none !important;
    margin-left: auto;
	margin-right: auto;
    margin-top: 25px;
    max-width: 300px;
    padding: 25px;
}
#footer .footer-frame {
	padding-left: 25px;
	padding-right: 25px;
}
.logo  {
	padding-left: 20px;

}
}