@import "http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700";

@font-face {
	font-family: 'museo_sans500';
	src: url('../fonts/museosans_500-webfont.eot');
	src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museosans_500-webfont.woff') format('woff'),
	url('../fonts/museosans_500-webfont.ttf') format('truetype'),
	url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
	font-weight: normal;
	font-style: normal;
}
.buy-box .half-box-holder:after,
.buy-box .heading-box:after{
	content: '';
	clear: both;
	display: block;
}

body,html{height:100%;}
body{
	min-width:768px;
	padding:0 !important;
}
.foo {}
input[type=text], input[type=submit], input[type=button], input[type=password], input[type=file], textarea{-webkit-appearance:none;}
textarea{
	resize:vertical;
}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.pull-center{
	margin:0 auto !important;
	float:none !important;
}
.mb0{
	margin-bottom: 0 !important;
}
.mb10{
	margin-bottom: 10px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.w1{
	display:table-row;
}
.w1>.container{
	padding:90px 0 40px;
}
#wrapper{
	display:table;
	width:100%;
	height:100%;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.logo{
	background: url("../images/logo.png") no-repeat;
	float: left;
	height: 78px;
	margin: -2px 0 -40px 2px;
	overflow: hidden;
	text-indent: -9999px;
	width: 86px;
}
.logo a{
	display:block;
	height:100%;
}
.list-view{padding:0;}
/* navigation */
.btn-gold{
	border-color: #bf993a;
	background: #f6db9a;
	background: linear-gradient(to bottom,  #f6db9a 0%,#f0c456 100%);
	height: 35px;
	padding: 7px 10px;
	min-width: 120px;
	color: #2e2e2e;
	font:300 16px/21px 'Source Sans Pro', arial, helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-gold:active,
.btn-gold:hover{
	background: #f0c456;
	background: linear-gradient(to bottom,  #f0c456 0%,#f6db9a 100%);
	color: #2e2e2e;
}
.menu-container .nav>li>a{
	margin: 0;
}
.menu-container .nav>li{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.menu-container .nav>li:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 2px;
	z-index: 2;
}
.menu-container .nav>li:hover{
	background: #999;
}
.menu-container .nav>li:hover>a{
	color: #fff;
	background: none;
}
.menu-container .nav>li:hover>a .caret{
	border-top-color: #fff;
}
.menu-container .nav>li:hover>.dropdown-menu{
	display: block;
}

.navbar .nav .label {
	position:absolute;
	left:100%;
	top:-2px;
	margin:0 0 0 -7px;
	padding:1px 4px;
}

#wrapper .navbar-inner{
	background:#203C5C;
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4) inset;
	border:solid #345B86;
	border-width:1px 0;
	filter: none !important;
}
.search-form{
	padding: 10px 0 0;
	margin: 0;
}
.search-form .input-prepend{
	margin: 0;
}
.search-form .btn{
	margin: 0;
}
#wrapper .navbar .nav{
	padding:10px 0;
}
.navbar .nav > li{
	margin:0 0 0 15px;
	position:relative;
}
#wrapper .navbar .nav>li>a{
	color:#fff;
	text-shadow:none;
	padding:6px 6px;
	-webkit-border-radius:3px;
	border-radius:3px;
	filter: none !important;
}
#wrapper .navbar .nav>li>a:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
#wrapper .navbar .nav>li.active>a{
	background:#2b5380;
	opacity:1;
	filter: alpha(opacity=100);
}
#wrapper .navbar .nav>li.open>a{
	background:#386394;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret{
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
}

.right-side .dropdown-menu{
	left:auto;
	right:0;
}
.nav-pills .dropdown-menu{
	max-height:500px;
	overflow-y:auto;
}

/* login form */

.form-login{
	max-width:300px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #e5e5e5;
	padding:19px 29px 29px;
	margin:25px auto 0;
	background:#fbfbfb;
}
.form-login .controls-row{
	margin:0 0 15px;
}
.form-login .help-block{
	margin:5px 0 0;
}
.form-login .checkbox{margin-bottom:10px;}
.form-login input[type="text"],
.form-login input[type="password"]{
	margin:0;
	padding:7px 9px;
	font-size:16px;
	height:auto;
}
.radio.pull-left,
.checkbox.pull-left{
	padding-top:5px;
}
.radio.pull-left+.radio.pull-left,
.checkbox.pull-left+.checkbox.pull-left{
	margin-left:15px;
}
.form-text{
	display:block;
	padding:5px 0 0;
}
.action-links{
	float:right;
	padding:12px 0 0;
	margin:0 -8px 0 0;
	list-style:none;
}
.action-links li{
	float:left;
	border-left:1px solid #08c;
	padding:0 8px;
}
.action-links li:first-child{
	padding-left:0;
	border:none;
}
.text-label{
	display:block;
	padding:5px 0 0;
}
.content-title{
	font-size:21px;
	line-height:40px;
	font-weight:normal;
	display:block;
	margin:0 0 20px;
	padding:0;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
}
.content-title .btn-small{
	margin:8px 0 0 5px;
}
.form-horizontal .controls p{
	margin:0;
}
.form-view{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	font-size:13px;
}
.form-view-row{
	margin:0 0 6px;
	overflow:hidden;
}
.form-view .control-label{
	float:left;
	width:160px;
	padding:0 20px 0 0;
	text-align:right;
	font-weight:bold;
}
.form-view .controls{
	overflow:hidden;
	display:block;
}
.user-avatar{
	float:right;
	margin:0 0 0 10px;
}
.user-avatar img{
	max-width:200px;
}
.form-view .controls.well{
	margin:0;
	padding-bottom:0;
}

/* two column layout */

.main-col2 #content{
	float:left;
	width:100%;
}
.main-col2 .c1{
	margin:0 0 0 250px;
}
.main-col2 #sidebar{
	float:left;
	width:230px;
	margin:0 0 0 -100%;
}

.nav-side{
	margin:0 0 20px;
	padding:0;
	background:#fff;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);
}
.nav-side>li>a{
	border:1px solid #e5e5e5;
	margin:0 0 -1px;
	padding:8px 14px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-side>li.active>a{border:none;}
.nav-side>li:first-child>a{
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}
.nav-side>li:last-child>a{
	-webkit-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
}
.nav-side>li:last-child:first-child>a{
	-webkit-border-radius:6px;
	border-radius:6px;
}


/* message list */

.nav-tabs > li > span{
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px 4px 0 0;
	line-height: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	display:block;
	padding:8px 12px;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	margin:0 2px 0 0;
}
.nav-tabs > li.active > span{
	border:solid 1px;
	border-color:#ddd #ddd transparent;
	color:#555;
	background:#fff;
}
.tab-title{
	display:block;
	padding:9px 12px 9px 8px;
	color:#777;
	font-size:15px;
	font-weight:normal;
}

.no-messages{
	border:1px solid #ddd;
	text-align:center;
	font-size:16px;
	line-height:22px;
	padding:10px;
	margin:0;
	color:#666;
}
.message-list {
	margin:0 0 20px 0;
	max-height:350px;
	overflow:auto;
	word-wrap:break-word;
}
.posts .empty-box{
	text-align: center;
	height: 390px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 170px 0 0;
	font-size: 16px;
}


.message-list .well{
	margin:20px 0 0 0;
}
.message-list .well:first-child{margin-top:0;}
.message-list .well.odd,
.well.well-blue{
	background:#E6F0F5;
	border-color:#D2E5EF;
}
.message-list .well.odd .topic-heading{
	border-color:#D2E5EF;
}
.message-list .messages-item {
	background:#d1f5e2;
	overflow:hidden;
	padding:10px 20px;
	margin:0 0 10px;
	word-wrap:break-word;
}
.message-list .messages-item.odd {background:#e0f2ff;}
.message-list .meta-info {
	font-size:11px;
	line-height:14px;
	overflow:hidden;
	color:#333;
	padding:3px 0 0;
}
.message-list .meta-info .date {
	font-style:italic;
	color:#999;
}
.message-list p {margin:0 0 5px;}
.user-item {
	overflow:hidden;
	padding:10px;
	margin:0 0 10px;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.user-item .photo-holder {
	float:left;
	margin:0 15px 0 0;
}
.user-item .photo-holder img{
	border:1px solid #d5d5d5;
	padding:2px;
	background:#fff;
}
.user-item .photo-holder a:hover img{
	border-color:#7D7D7D;
}
.user-item .text-holder{
	overflow:hidden;
	color:#777;
}
.user-item .user-name{
	display:block;
	font-size:18px;
	line-height:22px;
	padding:0 0 10px;
}
.user-item p{
	margin:0 0 5px;
}

.home-intro{
	color:#555;
	margin:50px 0 0;
}
.home-intro h2{
	font-size:20px;
	line-height:25px;
}

.home-intro table td{
	vertical-align:middle;
}
.home-intro .button-column{
	white-space:nowrap;
	width:80px;
}
.table-blue table{
	overflow:hidden;
	margin:0;
}
.table-blue td,
.table-blue th{
	border-color:#D2E5EF;
	box-shadow: 0 1px 0 #FFFFFF;
}
.home-intro table .label{
	padding:6px 9px;
}
.table-blue .table .table{
	margin:0 0 0 20px;
}
.table-blue .table .table td,
.table-blue .table td{
	background:none !important;
}


/* noUiSlider */

.range-holder:after{
	content:'';
	display:block;
	clear:both;
}
.range-holder input[type="text"]{
	float:left;
	width:30px;
}

.noUiSlider,
.noUiSlider * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: block;
	cursor: default;
}
.noUiSlider{
	float:left;
	margin:10px 20px 0 0;
	position:relative;
	border:1px solid #d4d4d4;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#eae9e9;
	width:200px;
	height:10px;
}
.noUiSlider a{
	position:absolute;
	z-index:1;
	right:0;
	height:100%;
}
.noUiSlider div{
	border:1px solid #b5b5b5;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#dadada;
	width:18px;
	height:18px;
	margin:-5px 0 0 -9px;
}
.range-text{
	float:left;
	padding:5px 0 0;
}

/* topics */

.topic-list{
	word-wrap:break-word;
}
.topic-list .user-title{
	display:block;
	padding:0 0 5px;
	font-size:18px;
}

.chris a{
	color: #F80000;
}

.chris {
	color: #F80000;
}

.main-section {
	font-size: 16px;
}

.topic-info{
	padding:10px 0 0;
	margin:0;
	list-style:none;
	font-size:12px;
}
.topic-info .link-send{
	font-size:13px;
}
.topic-info .link-send a:hover{text-decoration:none;}
.topic-heading{
	overflow:hidden;
	font-size:12px;
	border-bottom:1px solid #dcdcdc;
	-webkit-box-shadow:0 1px 0 #fff;
	box-shadow:0 1px 0 #fff;
	padding:0 0 7px;
	margin:0 0 12px;
}
.topic-list .topic-heading>span{
	display:block;
	overflow:hidden;
	padding:2px 0 0;
}
.topic-panel .btn,
.topic-heading .btn,
.topic-signature .btn{
	margin:0 0 0 10px;
}
.topic-title{
	font-weight:normal;
	font-size:17px;
	line-height:22px;
	margin:0;
}
.topic-signature{
	border-top:1px solid #dcdcdc;
	-webkit-box-shadow:0 1px 0 #fff inset;
	box-shadow:0 1px 0 #fff inset;
	margin:20px 0 0;
	padding:15px 0 0;
	font-size:11px;
	line-height:15px;
	color:#999;
}
.topic-panel{
	overflow:hidden;
	padding:0 0 20px;
}
.topic-panel .pagination{
	margin:0;
	padding:0 15px 0 0;
	overflow:hidden;
}
.topic-panel .pagination ul{
	vertical-align:top;
}
.posts .message-list{
	min-height: 350px;
}
.new-comment{
	font-weight:bold;
}

.buy-box{
	width: 727px;
	margin: 0 auto 20px;
	background: #e9f4f7;
}
.buy-box-holder{
	padding: 28px 21px;
	border: 1px solid #d8e5e9;
	border-top: none;
}
.steps-list{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #445878;
	border-bottom: 2px solid #4bb9bd;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.steps-list li{
	display: table-cell;
	vertical-align: middle;
}
.steps-list a{
	display: block;
	color: #acbcd5;
	padding: 7px 30px 6px 19px;
	position: relative;
}
.steps-list a:after{
	position: absolute;
	content: '';
	left: 100%;
	top: 0;
	bottom: 0;
	background: url('../images/steps-link.png') no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 15px;
	z-index: 5;
}
.steps-list .counter{
	margin: 0 15px 0 0;
	font-style: normal;
	text-align: center;
	line-height: 28px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #5b6f8f;
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	-webkit-box-shadow: 0 1px 1px rgba(27,42,65,0.12), inset 0 1px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0 1px 1px rgba(27,42,65,0.12), inset 0 1px 1px rgba(0,0,0,0.34);
	box-shadow: 0 1px 1px rgba(27,42,65,0.12), inset 0 1px 1px rgba(0,0,0,0.34);

}
.steps-list .counter b{
	width: 28px;
	height: 28px;
	background: #445878;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	border: 1px solid #394f6f;
	margin: 5px;
}
.steps-list .text{
	font:22px/26px museo_sans500, arial, helvetica, sans-serif;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21);
	padding: 3px 0 0;
}
.steps-list a:hover{
	text-decoration: none;
	color: #4bb9bd;
}
.steps-list a:hover .counter{
	background: #318e91;
}
.steps-list .active a{
	color: #fff;
	background: #4bb9bd;
}
.steps-list .active a:after{
	background-image: url(../images/steps-link-active.png);
}
.steps-list .active .counter{
	background: #318e91;
}
.buy-box form{
	font-family:'Source Sans Pro', arial, helvetica, sans-serif;
	font-weight: 300;
}
.buy-box .form-inline label.error,
.buy-box .form-horizontal label.error,
.buy-box .form-vertical label.error,
.buy-box .block-label{
	font:300 16px/20px 'Source Sans Pro', arial, helvetica, sans-serif;
	color: #000;
	display: block;
	margin: 0;
}
.buy-box .block-label{

	margin-left: 2px !important;
}
.buy-box .heading-box{
	margin: 0 0 5px;
	position: relative;
}
.buy-box .help-text,
.buy-box .help-inline.error{
	font-size: 13px;
	line-height: 20px;
	color: #e80707;
	display: block;
}
.buy-box .heading-box .help-text,
.buy-box .heading-box .help-inline.error{
	float: right;
}
.buy-box .help-text{
	color: #809ba3;
}
.chosen-container-single .chosen-single,
.buy-box .success select,
.buy-box .success input[type='password'],
.buy-box .success input[type='text'],
.buy-box select,
.buy-box input[type='password'],
.buy-box input[type='text'],
.buy-box textarea
{
	background: #fcfeff;
	border: 1px solid #c6d5dc;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 33px;
	line-height: 19px;
	padding: 6px 6px;
	color: #555;
}
.buy-box .success select:focus,
.buy-box .success input[type='password']:focus,
.buy-box .success input[type='text']:focus,
.buy-box select:focus,
.buy-box input[type='password']:focus,
.buy-box input[type='text']:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #4bb9bd;
}
.buy-box .half-box-holder{
	margin: 0 -21px;
}
.buy-box .half-box{
	float: left;
	width: 50%;
	padding: 0 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.buy-box .error .help-text{
	display: none;
}
.buy-box .error select,
.buy-box .error input[type='password'],
.buy-box .error input[type='text']{
	border-color: #ff0202;
}
.buy-box-bottom{
	border-top: 1px solid #ccd8de;
	overflow: hidden;
	padding: 22px 0 10px;
}
.payment-img{
	float: right;
	margin: 17px 0 0;
}
.buy-box-heading{
	background: #c7dadf;
	border-bottom: 1px solid #8ba6ad;
	text-align: center;
	padding: 22px 20px;
}
.buy-box-heading h2{
	color: #3a3838;
	font:35px/40px museo_sans500, arial, helvetica, sans-serif;
	margin: 0;
}
.buy-box-heading .blue-title{
	display: block;
	color: #338eca;
}
.custom-radio{
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 24px;
}
.custom-radio+.custom-radio{
	margin-left: 30px;
}
.custom-radio input{
	display: none;
}
.custom-radio span{
	display: block;
	padding: 4px 2px 6px 31px;
	position: relative;
}
.custom-radio span:before{
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	background: url('../images/custom-radio.png') no-repeat 0 -39px;
	width: 17px;
	height: 17px;
}
.custom-radio:hover span:before{
	background-position: 0 -80px;
}
.custom-radio input:checked+span:before{
	background-position: 0 0;
}
.pay-holder{
	text-align: center;
	padding: 0 0 20px;
	border-bottom: 1px solid #a7c0c6;
	margin: 0 0 25px;
}
.input-holder{
	width: 150px;
	float: left;
}
.cvv-input{
	width: 100px;
}
.input-holder .small{
	width: 70px;
	float: left;
	margin: 0 1px 0px;
}
.question-icon{
	font-size: 10px;
	width: 13px;
	height: 13px;
	line-height: 13px;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #809ba3;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	transition: all 0.4s ease 0.5s;
	margin-right: 7px;
}
.hint-holder:hover .question-icon,
.question-icon:hover{
	background: #4bb9bd;
	transition: all 0.4s ease;
}
.hint-holder{
	float: right;
	margin: 5px -3px 0 0;
	position: relative;
	height: 13px;
}
.hint{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: 100%;
	width: 355px;
	right: -12px;
	margin: 0 0 13px;
	background: #fff;
	border: 1px solid #4bb9bd;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 10px 0 10px 13px;
	font-size: 13px;
	line-height: 15px;
	transition: all 0.4s ease 0.5s;
}
.hint:after,
.hint:before{
	content: '';
	position: absolute;
	top: 100%;
	right: 12px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid;
	color: #4bb9bd;
}
.hint:after{
	border-width: 5px;
	color: #fff;
	right: 13px;
}
.hint-text{
	max-height: 200px;
	display: block;
	overflow-y: auto;
	padding: 0 13px 0 0;
}
.hint-holder:hover .hint{
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease;
}
.alert:empty{
	display: none;
}
.finish-box h1,
.finish-box h2{
	font:bold 45px/52px museo_sans500, arial, helvetica, sans-serif;
	margin: 0 0 25px;
	text-align: center;
}
.finish-box h2{
	font-size: 35px;
	line-height: 40px;
	font-weight: normal;
	margin: 0 0 55px;
}
.finish-box h2 .blue{
	display: block;
	color: #338eca;
}
.finish-box .text-overflow{
	overflow: hidden;
	padding: 0 0 0 21px;
	font:300 16px/21px 'Source Sans Pro', arial, helvetica, sans-serif;
	margin: 0;
	color: #383838;
}
.finish-box .logo-box{
	text-align: center;
}
.finish-box .logo-title{
	text-transform: uppercase;
	color: #203c5c;
	display: block;
	font:46px/52px museo_sans500, arial, helvetica, sans-serif;
	padding: 0 0 60px;
}
.total-text{
	display: block;
	padding: 7px 5px 10px;
	text-align: right;
	font:300 16px/20px 'Source Sans Pro', arial, helvetica, sans-serif;
}
.coupon{
	padding: 5px 340px 10px;
	width: 350px;

}

/* footer */

#footer{
	background:#1A2D43;
	-webkit-box-shadow:0 -1px 0 1px #292A2E;
	box-shadow:0 -1px 0 1px #292A2E;
	text-align:center;
	display:table-footer-group;
	color:#fff;
}
.footer-holder{
	height:1%;
	display:table-row;
}
.footer-frame{
	padding:13px 0;
	display:table-cell;
}
#footer address{
	margin:0;
}

.list-summary {
	font-weight: bold;
	padding: 8px;
}
.announce-topics-list {
	margin: 0 0 0 3%;
	width: 98%;
}
/*
.economic-events {
    margin:0 0 20px 0;
    overflow:auto;
    word-wrap:break-word;
}
*/
.events-pager{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.events-pager li{
	display: inline-block;
	margin: 0 5px;
}
.table-events .table th{
	background: #08c;
	color: #fff;
	text-align: center;
}
.table-events .table th a{
	color: #fff;
}
.table-events .table td{
	text-align: center;
}
.table-events .table .col-event{
	text-align: left;
}
.table-events .label{
	min-width: 55px;
	padding: 5px;
}
.cal-date{
	display: table;
	font:bold 10px/13px Tahoma, Arial, sans-serif;
	color: #fff;
	width: 52px;
	min-height: 32px;
	margin: 0 auto;
}
.cal-date span{
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 5px;
	display: table-cell;
	vertical-align: middle;
	background: #15a4ec;
}
.table-events #economic-events-grid_c0{
	width: 52px;
}
.table-events #economic-events-grid_c1{
	width: 40px;
}
.table-events #economic-events-grid_c2{
	width: 66px;
}
.table-events #economic-events-grid_c4{
	width: 80px;
}
.table-events #economic-events-grid_c5{
	width: 70px;
}
.table-events #economic-events-grid_c6{
	width: 70px;
}
.table-events #economic-events-grid_c7{
	width: 70px;
}
.table-events #economic-events-grid_c8{
	width: 50px;
}
.table-events .table .col-notes{
	text-align: left;
}
.table-events .filters .filter-container{
	padding: 0;
}
.grid-view .filters input,
.grid-view .filters select{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height: 30px;
}
/* chosen */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 19px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
}
.chosen-container-single .chosen-single{
	position: relative;
	/*white-space: nowrap;*/
	text-decoration: none;
	display: block;
	color: #333;
	overflow: hidden;
	cursor: pointer;
	padding-right: 35px;
}
.chosen-container-single .chosen-single span{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chosen-container-single .chosen-single div b{
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-top: 5px solid;
	position: absolute;
	right: 10px;
	top: 14px;
	color: #19505f;
}
.chosen-with-drop .chosen-single div b{
	border-bottom: 5px solid;
	border-top: none;
}
.chosen-with-drop .chosen-single{
	border-color: #4bb9bd;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}
.chosen-container .chosen-drop{
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #4bb9bd;
	border-top: none;
	background: #fcfeff;
	overflow: hidden;
	margin: -1px 0 0;
}
.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.chosen-container-single .chosen-search,
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}
.chosen-container .chosen-results {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
	margin: 0 5px 5px;
	padding: 5px 0 0;
	border-top: 1px solid #c6d5db;
}
.chosen-container .chosen-results li {
	display: none;
	padding: 4px;
	list-style: none;
	-webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
	display: block;
	cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
	display: block;
	color: #ccc;
	cursor: default;
}
.chosen-container .chosen-results li.highlighted {
	background: #cedce1;
}
.chosen-container .chosen-results li.no-results {
	display: block;
	background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
	display: block;
	font-weight: bold;
	cursor: default;
}
.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}
.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}
.chosen-container~.chosen-container{
	margin: 0 0 0 6px;
}



/*
.table-events .table{
	border: 1px solid #2AB1F5;
}
.table-events td{
	border-color: #2AB1F5;
}
.table-events .even td{
	background: #7DD3FF;
}*/
.table-events tr:hover td{
	background: #f7f7f7;
}
.table-events tr.open td,
.table-events tr.expand td{
	background: #eee;
}
.table-events [class^='flag']{
	display: inline-block;
	vertical-align: middle;
}
/* trash */

.pad-lr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


@media (max-width: 979px) {
	.w1 > .container{
		padding-top:0;
	}
	.posts.span6{
		width: 100%;
		float: none;
	}
	.posts .empty-box{
		height: auto;
		padding: 0;
	}
}
@media (max-width: 767px){
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{
		margin:0;
	}
	.posts .message-list{
		min-height: 0;
	}
}

#table-economics-events {
	max-height: 300px;
}


.payment label{
	float:left !important;
	margin-left:10px !important;
}
.payment input[type='text']{

	margin-left:12px !important;
}
.buy-box textarea  {
	resize:none;
	/*width :237px;*/
	height:70px;

}
.buy-box label{

	font: 300 16px/20px 'Source Sans Pro', arial, helvetica, sans-serif;
}
.center{
	width: 50%;
	margin: 0 auto;
}

.headline
{
	display:none !important;
}

#iframeContainer .shadowBox{
	border: none !important;
	border-style: hidden !important;
}
.headline{
	display: none !important;
}

.chosen
{
	position: relative;
	text-decoration: none;
	display: block;
	color: rgb(51, 51, 51);
	overflow: hidden;
	cursor: pointer;
	padding-right: 35px;

	text-color: rgb(51, 51, 51) !important;
	font-family: 'Source Sans Pro',arial,helvetica,sans-serif !important;
	font-weight: 300 !important;
	line-height: 19px !important;
}

.list-testimonials {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
	width: 727px;
}

.testimonial {
    background: #e8f2f6 url("//2ndskiesforex.com/wp-content/themes/2ndSkies/images/banners3/background-testimonials.png") no-repeat scroll right bottom;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 20px;
    position: relative;
}

.icon-quote {
    background: rgba(0, 0, 0, 0) url("//2ndskies-forex.com/wp-content/themes/2ndSkies/images/banners3/quote.png") no-repeat scroll center center;
    display: block;
    height: 20px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 20px;
}

.testimonial--quote {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 16px !important;
    font-style: italic;
    line-height: 24px !important;
}

.testimonial--title {
    border-top: 1px solid #b7cfd6;
    color: #203b5b;
    font: 600 16px/19px "Open Sans";
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 13px;
    padding-top: 13px;
}
