<chart>
id=130932199278077586
symbol=USDJPY
period=60
leftpos=3257
digits=3
scale=4
graph=1
fore=1
grid=0
volume=0
scroll=0
shift=1
ohlc=1
one_click=1
one_click_btn=1
askline=0
days=1
descriptions=0
shift_size=20
fixed_pos=0
window_left=225
window_top=0
window_right=450
window_bottom=135
window_type=3
background_color=16777215
foreground_color=0
barup_color=0
bardown_color=0
bullcandle_color=3329330
bearcandle_color=255
chartline_color=0
volumes_color=32768
grid_color=12632256
askline_color=17919
stops_color=8721863

<window>
height=192
fixed_height=0
<indicator>
name=main
<object>
type=1
object_name=Horizontal Line 58545
period_flags=0
create_time=1451156657
color=13434880
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=105.275695
</object>
<object>
type=2
object_name=Trendline 58572
period_flags=0
create_time=1451156684
color=13434880
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1369526400
value_0=93.361966
time_1=1459036800
value_1=112.607220
ray=1
</object>
<object>
type=1
object_name=Horizontal Line 51657
period_flags=0
create_time=1453705673
color=255
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=118.887872
</object>
<object>
type=1
object_name=Horizontal Line 26905
period_flags=0
create_time=1454336281
color=255
style=1
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=122.199932
</object>
<object>
type=2
object_name=Trendline 26930
period_flags=0
create_time=1454336306
color=8388608
style=1
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1432252800
value_0=125.985959
time_1=1452211200
value_1=123.219247
ray=1
</object>
<object>
type=2
object_name=Trendline 44342
period_flags=0
create_time=1455009078
color=8388608
style=1
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1452225600
value_0=118.866447
time_1=1452542400
value_1=118.652191
ray=1
</object>
<object>
type=2
object_name=Trendline 44390
period_flags=0
create_time=1455009126
color=8388608
style=1
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1451995200
value_0=117.516638
time_1=1454083200
value_1=115.074128
ray=1
</object>
<object>
type=2
object_name=Trendline 44644
period_flags=0
create_time=1455009380
color=8388608
style=1
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1454418000
value_0=120.855000
time_1=1454972400
value_1=116.955957
ray=1
</object>
<object>
type=22
object_name=Arrow 62719
period_flags=0
create_time=1455027455
color=13434880
weight=2
background=0
symbol_code=242
anchor_pos=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1455019200
value_0=116.010714
</object>
<object>
type=22
object_name=Arrow 62764
period_flags=0
create_time=1455027500
color=13434880
weight=2
background=0
symbol_code=241
anchor_pos=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1454997600
value_0=114.122679
</object>
</indicator>
<indicator>
name=Moving Average
period=200
shift=0
method=0
apply=0
color=55295
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=20
shift=0
method=1
apply=0
color=32768
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=50
shift=0
method=1
apply=0
color=8388608
style=0
weight=2
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=16
fixed_height=0
<indicator>
name=Relative Strength Index
period=14
apply=0
color=9125192
style=0
weight=2
min=0.00000000
max=100.00000000
levels_color=12632256
levels_style=2
levels_weight=1
level_0=30.00000000
level_1=70.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

