body{
	margin:0;
	padding: 0;
	color:#2a2a2a;
	font:16px/25px 'Open Sans', Arial, Helvetica, sans-serif;
	background:#ffffff;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	overflow-x: hidden;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemibold.woff2') format('woff2'),
         url('../fonts/OpenSansSemibold.woff') format('woff'),
         url('../fonts/OpenSansSemibold.ttf') format('truetype'),
         url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSansItalic.eot');
    src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansItalic.woff2') format('woff2'),
         url('../fonts/OpenSansItalic.woff') format('woff'),
         url('../fonts/OpenSansItalic.ttf') format('truetype'),
         url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSansSemiboldItalic.eot');
    src: url('../fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
         url('../fonts/OpenSansSemiboldItalic.woff') format('woff'),
         url('../fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
         url('../fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('../fonts/OpenSansLight.woff2') format('woff2'),
         url('../fonts/OpenSansLight.woff') format('woff'),
         url('../fonts/OpenSansLight.ttf') format('truetype'),
         url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

html {
	margin: 0;
	padding: 0;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

img{border-style:none;}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

a {
	text-decoration: none;
}

.container-affiliate {
	max-width: 990px;
	margin: 0 auto;
	background: #fff;
	padding-bottom: 60px;
}

.container-affiliate .header {
	background: #f2f2f2 url(../images/affiliate_bg.jpg) no-repeat;
	height: 299px;
	width: 100%;
}

.header a {
	display: block;
	background:url(../images/logo-affiliate.png) no-repeat;
	width: 162px;
	height: 144px;
	text-indent: -9999px;
	margin-left: 60px;
}

.main-content {
	width: 84%;
	margin: 0 auto;
	padding-bottom: 70px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 40px;
	}

.main-content ul li {
	padding: 0 0 6px 35px;
	position: relative;
	font-size: 15px;
}

h1#page-heading {
	color: #24b4ee;
	font-size: 24px;
}


.main-content ul {
	margin-top: 20px;
	margin-bottom: 25px;
}

.main-content ul li:before {
	background: url(../images/libg1.png) no-repeat;
    content: "";
    height: 24px;
    left: -1px;
    position: absolute;
    top: 1px;
    width: 20px;
}

.main-content p {
	margin-top: 0px;
	margin-bottom: 7px;
	font-size: 15px;
}

.main-content a {
	font-size: 31px;
	color: #fff;
	display: block;
	background: url(../images/signup.png) no-repeat;
	width: 395px;
	height: 60px;
	line-height: 60px;
	text-indent: 42px;
	text-decoration: none;
}

.main-content .img-holder {
	float: right;
	max-width: 417px;
	
}

.main-content img {
	margin-top: -65px;
}

div#signup {
	margin: 0 auto;
	width: 84%;
	font-size: 12px;}
	
h3 {
	font-size: 18px;
	border-bottom: 1px solid #cccccc;
}

ul input{
	float: right;
	width: 300px;
	height: 24px;
	border: 1px solid #cccccc;
}

ul select {
	height: 23px;
	float: right;
}

#AccountCreateCountry {
	margin-right: 48px;
}

#AccountCreateState {
	margin-right: 162px;
}	

#AccountCreateProvince {
	margin-right: 115px;
}

.form-note {
	text-align: right;
	margin-top: 5px;
	padding-right: 17px;
}

ul li {
	width: 75%;
	margin-bottom: 20px;
}

a {
	text-decoration: underline;
	color: #488fcd;
}

input[type="submit"] {
	background: #248fcd;
	font-size: 18px;
	color: #fff;
	margin-top: 10px;
	padding: 5px 15px;
	border: 0;
}

iframe {
	overflow: hidden !important;
}

@media (max-width: 979px) {
	
.main-content .img-holder {
	float: none;
	max-width: 417px;
	margin: 0 auto;
	
}
}

@media (max-width: 425px){
	div.form li label {
		width: 150px !important;
	}
	
	.main-content a {
		width: 300px;
	}
}

@media (min-width: 960px) and (max-width: 1200px) {
	
}