.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.ribbon {
	position: relative;
	text-align: center;
	font-size: 18px!important;
	-webkit-box-shadow: rgba(000,000,000,0.3) 0 0px 0px;
	-moz-box-shadow: rgba(000,000,000,0.3) 0 0px 0px;
	box-shadow: rgba(000,000,000,0.3) 0 0px 0px;
	margin-right: -19px;
	margin-left: -19px;
	margin-top: -5px;
	margin-bottom:36px;
	background-color: #445878;
	background-image: url(../images/ribbon-bg.png);
	background-repeat: repeat-x;
	background-position: left top;
   }
.ribbon h1 {
	font-size: 34px!important;
	color: #ffffff;
	margin: 0px;
	padding: 20px 10px 5px;
	font-weight: 400;
   }
.ribbon h1.ribbon-heading {
	padding-top: 25px;
	padding-bottom: 25px;
}

.ribbon p {
	font-size: 20px!important;
	color: #ffffff;
	margin: 0px;
	padding: 0px 10px 15px;
   }
.ribbon:before, .ribbon:after {
   border-color: #24334b transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
   
.cl-wrapper {
	padding-right: 46px;
	padding-left: 46px;
}
.cl-content {
	padding-top: 0 !important;
	margin-top: 10px !important;
	box-shadow: 0px 4px 2px 1px rgba(65,65,65,0.15);
	max-width: 960px;
	border-bottom: 2px #E0E0E0 !important;
	margin-left:-36px !important;
	margin-right:-36px !important
}
.cl-content .default-template { }

.cl-content .testAppButton {
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	display: block;
	font-size: 1.36em;
	line-height: 1em;
	font-weight: bold;
	margin: 36px auto 0;
	max-width: 180px;
	padding: 16px 15px;
	text-align: center;
	overflow: hidden;
}
.question-form .testAppButton {
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 1.1em;
	line-height: 1em;
	font-weight: bold;
	margin: 15px auto 0;
	max-width: 180px;
	padding: 12px 25px;
	text-align: center;
}
.cl-content .recommended-list-beginner .start.testAppButton {
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	display: block;
	font-size: 1em;
	line-height: 1em;
	font-weight: normal;
	margin: 36px auto 0;
	max-width: 300px;
	padding: 16px 15px;
	text-align: center;
	overflow: hidden;
}
.cl-content .recommended-list-beginner .start:hover {

}

#question1point1 { padding-top:36px}

.question-form {
	position: relative;
	margin-right: -20px;
	margin-left: -20px;
	padding-left: 36px;
	padding-right: 36px;
}
.qnum-wrapper {
	position: absolute;
	min-height: 82px;
	width: 80px;
	top: -7px;
	right: 50px;
	font-size: 3em;
	color: #FFF;
	background-color: #3c4f6d;
	line-height: 75px;
	text-align: center;
	font-family: "Open Sans";
}
.qnum {
	position: relative;
	font-size: 55px;
	color: #FFF;
	background-color: #3c4f6d;
	line-height: 82px;
	text-align: center;
	font-family: "Open Sans";
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8)
}
.qnum:before, .qnum:after {
   border-color: transparent transparent  #24334b transparent;
   position: absolute;
   display: block;
   border-style: solid;
   top: 0;
   content: '';
   }
.qnum:before {
	border-color: transparent transparent  #24334b transparent;
   left: -7px;
   border-width: 0 0 7px 7px;
   }
.qnum:after {
	border-color: transparent transparent transparent #24334b ;
   right: -7px;
   border-width: 7px 0 0 7px;
   }
.question-heading {
	background-color: #e9f4f7;
	font-size: 20px;
	color: #000;
	margin-right: -16px;
	margin-left: -16px;
	padding: 22px;
	padding-left: 30px;
	padding-right: 120px;
	min-height: 75px;
	border-bottom: 1px solid #c2d2d9;
	border-top: 3px solid #445878;
	font-weight: 400;
}






.customize-support #content { padding-left:0; padding-right:0}

.ribbon-2-wrapper {
	z-index: 5;
	position: relative;
	margin-bottom: 0;
	margin-left: -22px;
	margin-right: -22px;
}
.ribbon-2 {
	max-width: 1000px;
	position: relative;
	text-align: center;
	font-size: 19px!important;
	-webkit-box-shadow: rgba(000,000,000,0.3) 0 0px 0px;
	-moz-box-shadow: rgba(000,000,000,0.3) 0 0px 0px;
	box-shadow: rgba(000,000,000,0.3) 0 0px 0px;
	font-family: 'Helvetica Neue',Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	background-color: #445878;
	background-image: url(../images/title-bg.png);
   }
.ribbon-2 .ribbon-stitches-top {
/*	border-top: 1px solid #3a4d6a;
	width: 100%;
	top: 5px;*/
}
   
   
.ribbon-2 h1 {
	font-size: 32px!important;
	color: #ffffff;
	margin: 0px;
	padding: 25px 36px 25px 36px;
	font-weight: 400;
	text-align: center;
	border-top: 1px solid #3a4d6a;
	position: relative;
	overflow: hidden;
   }
.ribbon-2 h1.recommended-heading  {
	padding-top: 25px;
	padding-bottom: 26px;
}
.recommended-info {
	font-size: 14px;
	color: #565656;
	padding: 10px 25px 15px;
	border-bottom: 1px solid #D6D6D6;
}
.ribbon-2 h1:before, .ribbon-2 h1:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #3a4d6a;
	left: 0;
   }
.ribbon-2 h1:before {
	top:5px;
   }
.ribbon-2 h1:after {
	bottom:5px
   }
   
.ribbon-2:before, .ribbon-2:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 2em solid #384c6b;
   z-index: -1;
   }
.ribbon-2:before {
   left: -2.4em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   -moz-box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   }
.ribbon-2:after {
   right: -2.4em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   -moz-box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   }
.ribbon-2 .ribbon-content:before, .ribbon-2 .ribbon-content:after {
   border-color: #23334a transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon-2 .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon-2 .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
 
.head-cogs { padding-bottom:10px} 

.listContainer1 {
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;

}
.recommended-list {
	margin: 0;
	padding: 0;
}
.recommended-list-beginner {
	margin: 0;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.recommended-list.testapp-1 {
/*	margin: 0;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;*/
}
.page-id-428 .recommended-list {
/*	margin: 0;
	padding-top: 20px;
	padding-left: 25px;*/
}
.page-id-428 .default-template {
/*	margin: 0;
	padding-top: 20px;
	padding-left: 25px;*/
}
.recommended-list.listCol1 {
	margin: 0;
	padding: 0;
	border-right: 1px solid #c2c2c2;
}
.recommended-list p a {
	color: #121212;
	line-height:1em;
}
.recommended-list p a:hover {
	color: #445878;
	text-decoration:none
}

.recommended-list p {
	border-bottom: 1px solid #c2c2c2;
	padding-left: 26px;
	margin: 0;
	height: 100px;
	display: table;
	width: 100%;
	position:relative
}
.recommended-list p a.cl-url {
    display: table-cell;
    vertical-align: middle;
	height: 100px;
	padding-left: 75px
}

.recommended-list.testapp-1 p, .recommended-list.testapp-beginner p {
	border-bottom: none;
	padding-left: 0;
	margin-bottom: 15px;
	height: auto;
	display: auto;
	position:relative;
}
.recommended-list.testapp-1 p a, .recommended-list.testapp-beginner p a {
	color: #0078af
}

.recommended-list.testapp-beginner {
	margin: 0;
	padding-top: 20px;
	padding-left: 25px;
}
.recommended-list.testapp-beginner.listCol1 {
	border-right: none;
}

.recommended-list p a:visited {

}

.lesson-learned { opacity: .3}

.recommended-list.listCol1 p:last-child {
/*	border: none*/
}

.recommended-list.last {
	border-radius: 0 !important;
}

.recommended-list .cl-item { position:relative}
.recommended-list .cl-thumb {
	position: absolute;
	margin-top: -31px;
	top: 50%;
}

.recommended-list .cl-url {
	position:relative
}
.recommended-list .cl-url.lesson-learned:after {
	content: "\f147";
	font-family: Dashicons;
	font-size: 24px;
	position: relative;
	top: 7px;
	color: #1f6869;
}



.cl-footer {
	margin-bottom: -32px;
	overflow: hidden;
	background-color: #e9f4f7;
	border-top: 1px solid #a8bac5;
	border-bottom: 4px solid #445878;
	padding: 20px 30px;
}
.progress-wrap {
	border: 1px solid #a8bac5;
	background-color: #cfdbe3;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding-top: 9px;
	padding-right: 10px;
	padding-left: 10px;
}
.progress-wrap > div { display:inline-block}
#progress {
	height: 19px !important;
	border: 1px solid #87959d;
	background-color: #b1bec6 !important;
	border-radius: 4px;
	width: 80%;
/*	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.15);*/
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 440px){
    #progress.left-0 {
	width: 70%!important;
    }
}
@media only screen and (min-width: 441px) and  (max-width: 750px){
    #progress.left-0 {
	width: 80%!important;
    }
}
@media only screen and (min-width: 751px){
    #progress.left-0 {
	width: 91%!important;
    }
}

#progress > div {
	height: 19px !important;
	margin-top:-1px;
	border-radius: 4px 0 0 4px;
	background-color: #3f88c6;
	background-image: -webkit-linear-gradient(top, #3f88c6, #286ca5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:         linear-gradient(to bottom, #3f88c6, #286ca5); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}
#progress > div.left-0 {
	border-radius: 4px;
	width:100% !important
}
#information {
	color: #374863;
	float: right;
	font-size: 16px;
	line-height: 20px;
}
#information span {
	font-weight: 700;
}
.congratulations {
	font-weight: normal;
	text-align: center;
	padding-top: 60px;
	padding-right: 20px;
	padding-left: 20px;
}
.congratulations h3 {
	font-weight: 700;
	text-align: center;
	font-size: 22px;
	color: #111;
}
.congratulations-course  {
	text-align: center;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.congratulations-course  div {
	padding-bottom: 10px;
}
.congratulations-course  a {
	font-weight:bold !important 
}



@media only screen and (max-width: 1000px) {
	.cl-wrapper #content {
	padding: 30px 0px 25px;
	margin-bottom: 50px;
	}
	.ribbon {
		margin-right: -44px;
		margin-left: -44px;
   }
   
   
	.question-form {
		position: relative;
		margin-right: -20px;
		margin-left: -20px;
	}
}