/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 

	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}


/* apply a natural box layout model to all elements */
.pop-call, .pop-call * {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.pop-call {
	position: relative;
	padding: 0;
	width: auto;
	width: 870px;
	max-width: 90%;
	min-height: 430px;
	margin: 20px auto;
	background-color: #cfdbe3;


-webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
}
.pop-call .mfp-close {
	background-color: #151e2d !important;
	color: #ccd8e0;
	font-family: Arial,Baskerville,monospace;
	font-size: 22px;
	font-style: normal;
	height: 28px;
	line-height: 28px;
	opacity: 1;
	position: absolute;
	right: -14px !important;
	top: -14px !important;
	width: 28px;
	-webkit-box-shadow: 0px 0px 0px 1px #ccd8e0;
	box-shadow: 0px 0px 0px 1px #ccd8e0;
}
.pop-call .mfp-close:active {
    background-color: #151e2d !important;
    color: #ccd8e0;
	height: 28px;
	line-height: 28px;
	right: -14px !important;
	top: -14px !important;
	width: 28px;
}
.home .mfp-bg, .page-template-template-home-php .mfp-bg {
    opacity: 0.55;
}

.pop-call {}
.grid-50, .grid-33, .grid-66 {
	float: left;
	overflow:hidden
}
.grid-50 {
	width:50%;
}
.grid-33 {
	width:33.3333%;
}
.grid-66 {
	width:66.6666%;
}
.pop-call h2 {
	font-family: "Open Sans";
	color: #0074a9;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	font-size: 1.95em;
	line-height: 1.1em;
	font-weight: 600;
	letter-spacing: -2px;
}
.pop-call h4 {
	font-family: "Open Sans";
	color: #445878;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	font-size: 1.6em;
	font-weight: 400;
	font-style: italic;
	margin-top:-5px
}
.pop-call .pop-left {
	padding: 20px;
	padding-left:35px;
	padding-right:25px;
}
.pop-call .pop-left {
	line-height: 1.2em;
	background-image: url(library/images/popup-bg.png);
	background-position: center top;
}
.pop-call .pop-left > div {
	margin-top: 40px;
}
.pop-call .pop-left > div img {
	max-width:100%;
	height:auto
}
.pop-call .pop-left ul {
	list-style:none
}
.pop-call .pop-left li {
	padding: 8px 5px 8px 30px;
	position:relative
}
.pop-call .pop-left li:before {
    background: url("library/images/sprite.png") no-repeat scroll -90px 0 rgba(0, 0, 0, 0);
    content: "";
    height: 19px;
    left: 0;
    margin: 9px 0 0 0px;
    position: absolute;
    top: 0;
    width: 18px;
}
.pop-call .pop-right {
	background-color: #445878;
	background-image: url(library/images/popup-right-bg.png);
	min-height: 430px;
	padding: 8px;
}
.pop-call .pop-right p {
	color: #FFF;
}
p.signup-title {
	font-family: "Open Sans";
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	text-align:center
}
p.signup-title span {
	font-weight:600
}
.pop-right-inner {
	padding-top: 20px;
	border: 1px solid #2d3e58;
	display:block;
	overflow:hidden;
	min-height: 414px;
 }
.pop-right-content { padding-left: 16px; padding-right:16px}
.pop-right-content p {
	font-size: .875em;
	line-height: 1.2em;
}
.popup-form  {
	margin-top: 20px

}
.popup-form form input[type="text"] {
	background-color: #1e2c41;
	width: 100%;
	border: 1px solid #667c9f;
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-bottom: 10px;
	border-radius: 4px;
	color: #FFF;
	
-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.65);
-moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.65);
box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.65);
}
.popup-form form input[type="submit"] {
	font-family: "Open Sans";
	border-radius: 4px;
	background-color: #d20707;
	background-image: -webkit-linear-gradient(top, #d20707, #a90303); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: linear-gradient(to bottom, #d20707, #a90303); /* Chrome 26, Firefox 16+, IE 10+, Opera */
	width: 100%;
	border: 1px solid #9D0202;
	text-transform: uppercase;
	color: #FFF !important;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 0.975em;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	margin-bottom: 15px;
}
.popup-form form input[type="submit"]:hover {
	background-color: #d20707;
	background-image: -webkit-linear-gradient(top, #d20707, #a40505); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: linear-gradient(to bottom, #d20707, #a40505); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}
.popup-form .privacy {
	background-image: url(library/images/lock.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-left: 10px
}
.popup-form .privacy a {
	color: #F9F9F9;
	opacity:.9
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.pop-call .pop-left {
		padding: 15px;
		padding-left:30px;
	}
	.pop-call .pop-left {
		line-height: 1em
	}
	.pop-call .pop-left > div {
		margin-top: 30px;
	}
	.pop-call .pop-left p {
		font-size: .975em;
	}
	.pop-call .pop-left li {
		font-size: .975em;
	}
	p.signup-title {
		font-size: 1em;
		padding-left:10px;
		padding-right:10px;
	}
	.pop-call h2 {
		font-size: 2em;
		letter-spacing: -2px;
	}
	.pop-call h4 {
		font-size: 1.2em;
		margin-top:-5px
	}
}
@media only screen and (max-width: 767px) {

	.pop-call .pop-left {
		padding: 15px;
		padding-left:30px;
	}
	.pop-call .pop-left {
		line-height: 1em
	}
	.pop-call .pop-left > div {
		margin-top: 30px;
	}
	.pop-call .pop-left p {
		font-size: .875em;
	}
	.pop-call .pop-left li {
		font-size: .875em;
	}
	.pop-call .pop-right {
		min-height: 216px;
		margin-bottom: 30px;
	}
	.pop-right-inner {
		padding-top: 20px;
		border: 1px solid #2d3e58;
		display:block;
		overflow:hidden;
		min-height: 200px;
	 }
	p.signup-title {
		font-size: 1em;
		padding-left:10px;
		padding-right:10px;
	}
	.pop-call h2 {
		font-size: 2em;
		letter-spacing: -2px;
	}
	.pop-call h4 {
		font-size: 1.2em;
		margin-top:-5px
	}
	.grid-50 {
		width:100%;
	}
	.grid-33 {
		width:100%;
	}
	.grid-66 {
		width:100%;
	}
}
