body{
	margin:0;
	color:#2c2c2c;
	font:16px/25px 'Open Sans', Arial, Helvetica, sans-serif;
	background:#fbfbfb;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#0074a9;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
input[type='submit']::-moz-focus-inner{
	border: 0;
	padding: 0;
}
input[type="image"]{padding:0;border:none;}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;border-radius:0;}
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
.header-box{
    background: #203b5b;
    padding: 0 0 19px;
}
.holder{
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}
.holder:after,
.nav-box:after,
.box-holder:after,
.text-box:after{
    content: "";
    display: block;
    clear: both;
}
.nav,
.list,
.list-card{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-box{
    padding: 0 0 68px;
}

.mobile-nav {
	display: none;	
	}

.nav {
    overflow: hidden;
    padding: 35px 0 0 35px;
    font:14px/17px 'Open Sans', Arial, Helvetica, sans-serif;
    float: left;
}
.nav li{
    float: left;
    margin: 0 0 0 37px;
}
.nav li:first-child{
    margin: 0;
}
.nav a{
    color: #4f739d;
}
.nav a:hover{
    color: #58a809;
    text-decoration: none;
}
.logo{
    float: left;
    background: url('../images/logo-sales.png') no-repeat;
    width: 107px;
    height: 96px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0 17px 0 52px;
}
.header-box h1{
    color: #fff;
    font:300 42px/45px 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0 0 17px;
    text-transform: capitalize;
    text-align: center;
}
.header-box strong{
    display: block;
    color: #4f739d;
    font:30px/35px 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 76px;
}
.header-box .img-holder{
    float: left;
    max-width: 520px;
    padding: 0 40px 0 0;
}
.header-box .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.header-box .list{
    float: left;
    font:16px/19px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: capitalize;
    margin: 53px 0 0;
}
.header-box .list li{
    position: relative;
    padding: 0 0 17px 35px;
}
.header-box .list li:before{
    content: "";
    background: url('../images/bg-ico.png') no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: -1px
}
.text-box{
    background: #ececec;
    padding: 45px 0 42px;
    color: #4f739d;
    font:italic 19px/22px 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 10;
}
.text-box blockquote{
    width: 55%;
    margin: 0;
    box-sizing: border-box;
    padding: 10px 0 0 15px;
}
.text-box blockquote p{
    margin: 0 0 25px;
    line-height: 30px;
}
.text-box blockquote cite{
    font-style: normal;
    font:16px/19px 'Open Sans', Arial, Helvetica, sans-serif;
}
.text-box blockquote span{
    display: block;
    font-weight: 600;
}
.text-box .img-holder{
    bottom: -42px;
    right: 115px;
    max-width: 40%;
    position: absolute;
}
.text-box .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.post-holder{
    padding: 87px 0 60px;
}
.post-holder:after,
.post-holder:before{
    content: "";
    position: absolute;
    width: 14px;
}
.post-holder:after{
    background: url('../images/bg-1.png') no-repeat;
    height: 126px;
    top: -43px;
    left: 15px;
}
.post-holder:before{
    background: url('../images/bg-4.png') no-repeat;
    height: 50px;
    bottom: 0;
    left: 50%;
    margin: 0 -7px 0 0;
}
.post-holder h2{
    color: #203b5b;
    font:300 36px/39px 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0 0 62px 16px;
}
.post-holder .post{
    padding: 0 0 100px;
    position: relative;
}
.post-holder .post:after,
.post-holder .post.last-post:after{
    content: "";
    background: url('../images/bg-2.png') no-repeat;
    width: 14px;
    height: 127px;
    position: absolute;
    top: -130px;
    left: 50%;
    margin: 0 0 0 -7px ;
}
.post-holder .post:first-child:after{
    background: none;
}
.post-holder .post.last-post:after{
    background: url('../images/bg-3.png') no-repeat;
    height: 77px;
    top: -105px;
}
.post-holder .post .img-holder{
    display: inline-block;
    width: 41%;
    text-align: center;
    padding: 0 50px 0 0;
    box-sizing: border-box;
}
.post-holder .post .img-holder img{
    width: 100%;
    display: block;
    height: auto;
}
.post-holder .post .info {
    float: right;
    width: 55%;
}
.post-holder .post h3{
    color: #0690d0;
    font:24px/27px 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 16px 0 26px;
    text-transform: capitalize;
}
.post-holder .post p{
    margin: 0;
}
.title-box {
    background: #ececec;
    text-align: center;
    padding: 46px 10px 145px;
    margin: 0 20px;
    position: relative;
}
.title-box h2 {
    color: #203b5b;
    font:300 36px/39px 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    text-transform: capitalize;
}
.col-box{
    position: absolute;
    left: 60px;
    right: 60px;
    bottom: -110px;
}
.col-box .box{
    background:#4a4a4a;
    color: #ececec;
    display: table;
    float: right;
    font: 16px/24px "Open Sans",Arial,Helvetica,sans-serif;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    width: 46.8%;
}
.col-box .box:first-child{
    float: left;
}
.col-box .box .img-holder{
    display: inline;
    width: 50%;
}
.col-box .box .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.col-box .box strong{
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
    width: 50%;
}
.blockquote-box:before{
    content: "";
    background: #ececec;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -2px;
}
.blockquote-box {
    padding: 170px 0 100px;
    overflow: hidden;
}
.blockquote-box .col{
    float: right;
    width: 40.7%;
    margin: 0 60px 0 0;
}
.blockquote-box .col:first-child{
    float: left;
    margin: 0 0 0 60px;
}
.blockquote-box .col:first-child blockquote:first-child{
    margin: 55px 0 40px;
}
.blockquote-box blockquote{
    display: block;
    margin: 0 0 40px;
    color: #4a4a4a;
    font:italic 16px/28px "Open Sans",Arial,Helvetica,sans-serif;
    background: #ececec;
    padding: 22px 30px 0;
    position: relative;
}
.blockquote-box blockquote:after,
.blockquote-box blockquote:before{
    content: "";
    position: absolute;
}
.blockquote-box blockquote:after{
    background: url('../images/bg-ico.png') no-repeat;
    width: 12px;
    height: 12px;
    left: -37px;
    top: 30px;
}
.blockquote-box .col:first-child blockquote:after{
    right: -38px;
    top: 30px;
    left: auto;
}
.blockquote-box blockquote:before{
    top: 23px;
    left:-24px;
    height:0;
    width:0;
    border:12px solid transparent;
    border-right-color:#ececec;
}
.blockquote-box .col:first-child blockquote:before{
    border-left-color:#ececec;
    border-right-color:transparent;
    right: -24px;
    left: auto;
}
.blockquote-box blockquote p{
    margin: 0 0 27px;
}
.blockquote-box blockquote cite{
    display: block;
    background: #203b5b;
    padding: 15px 30px;
    margin: 0 -30px;
    color: #fff;
    font-weight: 600;
    font-style: normal;
}
.visual-box{
    background: #ececec;
    padding: 0 0 50px;
}
.visual-box .holder{
    max-width: 730px;
    text-align: center;
}
.visual-box .img-holder{
    max-width:426px ;
    position: absolute;
    top: -28px;
    left: 50%;
    margin: 0 0 0 -213px;
}
.visual-box .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.visual-box h2{
    margin: 0;
    padding: 295px 0 0;
    color: #203b5b;
    font:300 34px/43px "Open Sans",Arial,Helvetica,sans-serif;
}
.article-box{
    padding: 60px 0 100px;
    color: #2c2c2c;
    font:16px/26px "Open Sans",Arial,Helvetica,sans-serif;
}
.article-box .img-holder{
    float: left;
    max-width: 40%;
    box-sizing: border-box;
    padding: 0 60px 0 0;
}
.article-box .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.article {
    float: right;
    width: 60%;
}
.article-box h2{
    color: #0690d0;
    font:24px/27px "Open Sans",Arial,Helvetica,sans-serif;
    margin: 11px 0 30px;
    text-transform: capitalize;
}
.article-box p{
    margin: 0 0 30px;
}
.info-box{
    background: #203b5b;
    padding: 90px 0 100px;
    color: #fff;
    font: 16px/24px "Open Sans",Arial,Helvetica,sans-serif;
}
.info-box  h2 {
    color: #fff;
    font: 300 42px/45px "Open Sans",Arial,Helvetica,sans-serif;
    margin: 0 0 15px;
    text-align: center;
    text-transform: capitalize;
}
.info-box  strong {
    color: #4f739d;
    display: block;
    font: 22px/25px "Open Sans",Arial,Helvetica,sans-serif;
    margin: 0 0 85px;
    text-align: center;
    text-transform: capitalize;
}
.info-box .text {
    margin: 0 0 55px;
}
.info-box p{
    margin: 0 0 25px;
}
.info-box p>span{
    color: #fcff00;
}
.info-box p .mark{
    text-decoration: line-through;
}
.info-box .text strong{
    color: #fcff00;
    text-transform: uppercase;
    font: 18px/22px "Open Sans",Arial,Helvetica,sans-serif;
    text-align: left;
    margin: 0;
}
.info-box .text .date{
    font: 24px/28px "Open Sans",Arial,Helvetica,sans-serif;
}
.info-box .img-holder {
    float: left;
    max-width: 520px;
    padding: 0 40px 0 0;
}
.info-box .img-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.info-box .link{
    display: block;
    max-width: 350px;
    margin: 0 auto 20px;
    background: #58a709;
    text-align: center;
    color: #fff;
    font: 24px/28px "Open Sans",Arial,Helvetica,sans-serif;
    padding: 25px 5px 25px;
}
.info-box .link span{
    color: #4b9204;
}
.info-box .list-card{
    max-width: 225px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.info-box .list-card li{
    float: left;
    margin: 0 0 0 10px;
}
.info-box .list-card li:first-child{
    margin: 0;
}
.info-box .list-card a,
.info-box .secure{
    display: block;
    background: url('../images/sprite-1.png') no-repeat;
    width: 48px;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;
}
.info-box .list-card .visa{
    background-position:0 0;
}
.info-box .list-card .master-card{
    background-position:0 -40px;
}
.info-box .list-card .discover{
    background-position:0 -82px;
}
.info-box .list-card .american-express{
    background-position:0 -124px;
}
.info-box .secure{
    background-position: 0 -172px; 
    width: 143px;
    height: 93px;
    margin: 0 auto;
}
.footer{
    padding: 45px 0;
    text-align: center;
    color: #2c2c2c;
    font: 14px/17px "Open Sans",Arial,Helvetica,sans-serif;
}
@media (max-width: 979px){
    .nav{
        padding: 35px 0 0 0;
    }
    .nav:first-child{
        padding: 35px 10px 0 30px;
    }
    .nav li{
        margin: 0 0 0  10px;
    }
    .logo{
        float: right;
        margin: 0 30px 0 0;
    }
    .header-box h1{
        font: 300 38px/45px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .header-box strong{
        margin: 0 0 45px;
    }
    .header-box .img-holder{
        box-sizing: border-box;
        width: 60%;
    }
    .header-box .list{
        width: 38%;
        padding: 15px 0 0;
    }
    .header-box .list li {
        padding: 0 0 10px 25px;
    }
    .header-box .list li:before{
        top: 4px;
    }
    .text-box blockquote{
        box-sizing: border-box;
        padding: 0 0 0 35px;
    }
    .post-holder h2{
        margin: 0 0 25px 25px;
    }
    .add-holder-post {
        padding: 0 0 0 25px;
    }
    .post-holder {
        padding: 95px 0 0;
    }
    .post-holder .post .img-holder{
        padding: 0 35px 0 0;
    }
    .post-holder .post .info{
         width: 58%;
    }
    .post-holder .post h3 {
        font: 22px/27px "Open Sans",Arial,Helvetica,sans-serif;
        margin: 15px 0;
    }
    .post-holder .post:after,
    .post-holder .post.last-post:after{
        background: url("../images/bg-3.png") no-repeat;
        height: 77px;
        top: -65px;
    }
    .title-box{
        padding: 50px 10px 100px;
    }
    .blockquote-box blockquote:after{
        left: -27px;
    }
    .blockquote-box .col:first-child blockquote:after {
        right: -26px;
    }
    .article-box .img-holder{
        padding: 0 35px 0 0;
    }
    .info-box .img-holder{
        max-width:50% ;
        box-sizing: border-box;
    }
    .info-box .text {
        float: right;
        width: 50%;
    }
    .blockquote-box .col{
        width: 39.7%;
    }
    .blockquote-box blockquote:after {
        left: -25px;
    }
    .blockquote-box .col:first-child blockquote:after {
        right: -25px;
    }

}
@media (max-width: 767px){
	ul.nav {
	display: none;
}

.mobile-nav {
	display:block;
	position: absolute;
	top: 10px;
	left: 10px;
	}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn {
	display: block;
	border: 1px solid #356090;
	background: #2C4F76;
	border-radius: 3px;
	width: 38px;
	height: 29px;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 5px 10px 4px 10px;
	background: #fff;
	z-index: 99;
}
 
.responsive-menu{
	display: none;
}

.responsive-menu ul li a {
	color: #fff;
	display: block;
	padding: 14px 10px 14px;
	font-size: 14px;
	text-transform: uppercase;
	background: #203b5b;
}

.responsive-menu ul {
	list-style:none;
}

.responsive-menu ul li {
	border: 1px solid #345b86;
	max-width: 250px;
}
 
.expand {
	display: block !important; 
}

    .nav-box {
        padding: 0 0 25px;
    }
    .nav {
        padding: 10px 0 0 15px;
    }
    .nav:first-child {
        padding: 10px 0 0 15px;
        margin: 0 0 -10px;
    }
    .nav li,
    .nav li:first-child{
        float: none;
        margin: 0 0 5px;
    }
    .logo {
        margin: 0 15px 0 0;
    }
    .header-box h1 {
        font: 300 28px/35px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .header-box strong{
        font: 17px/22px "Open Sans",Arial,Helvetica,sans-serif;
        margin: 0 0 30px;
    }
    .header-box .img-holder{
        width: 100%;
        padding: 0;
        float: none;
    }
    .header-box .list{
        float: none;
        width: 100%;
        padding: 0 15px 15px;
        box-sizing: border-box;
    }
    .text-box{
        padding: 20px 0;
        font: italic 14px/18px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .text-box blockquote {
        padding: 0 0 0 15px;
    }
    .text-box blockquote p {
        margin: 0 0 15px;
    }
    .text-box blockquote cite {
        font: 12px/16px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .text-box .img-holder {
        bottom: -20px;
        right: 0;
    }
    .post-holder {
        padding: 80px 0 0;
    }
    .post-holder h2 {
        margin: 0 0 15px 25px;
        font: 300 28px/32px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .post-holder .post{
        padding: 0 15px;
    }
    .add-holder-post {
        padding: 0 0 35px;
    }
    .post-holder .post .img-holder {
        float: none;
        width: 100%;
        padding:0;
    }
    .post-holder .post .info {
        float: none;
        width: 100%;
        margin: 0 0 20px;
        font: 13px/19px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .post-holder .post h3 {
        font: 18px/22px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .post-holder .post:after,
    .post-holder .post.last-post:after{
        background: none;
    }
    .title-box{
        margin: 0 15px 15px;
        padding: 15px 10px;
    }
    .title-box h2{
        font: 300 28px/32px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .col-box{
        position: static;
    }
    .col-box .box{
        display: block;
    }
    .col-box .box:first-child {
        float: none;
    }
    .col-box .box {
        display: block;
        float: none;
        height: auto;
        margin: 0 auto 15px;
        width: 57%;
        font: 13px/22px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .col-box .box strong {
        padding: 0 3px;
    }
    .blockquote-box{
        padding: 20px 0;
    }
    .blockquote-box:before{
        background: none;
    }
    .blockquote-box .col{
        float: none;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .blockquote-box .col:first-child {
        float: none;
        margin: 0;
    }
    .blockquote-box blockquote{
        padding: 15px 15px 0;
        margin: 0 0 25px;
        font: italic 14px/20px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .blockquote-box .col:first-child blockquote:first-child {
        margin: 0 0 25px;
    }
    .blockquote-box blockquote p {
        margin: 0 0 10px;
    }
    .blockquote-box blockquote cite {
        margin: 0 -15px;
        padding: 10px 15px;
    }
    .blockquote-box blockquote:after,
    .blockquote-box blockquote:before{
        position: static;
        background: none;
    }
    .visual-box{
        padding: 0 15px 50px;
    }
    .article-box{
        padding: 35px 0 15px;
        font: 13px/20px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .article-box .img-holder{
        max-width: 100%;
        padding: 0 15px;
        float: none;
        margin: 0 auto;
    }
    .article{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .article-box h2{
        font: 19px/22px "Open Sans",Arial,Helvetica,sans-serif;
        margin: 11px 0 15px;
    }
    .article-box p {
        margin: 0 0 15px;
    }
    .info-box{
        padding: 35px 0;
        font: 13px/18px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .info-box h2{
        font: 300 28px/32px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .info-box strong {
        font: 18px/22px "Open Sans",Arial,Helvetica,sans-serif;
        margin: 0 0 25px;
    }
    .info-box .img-holder{
        max-width: 100%;
    }
    .info-box .text {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .info-box p {
        margin: 0 0 15px;
    }
    .info-box .text strong{
        font: 14px/17px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .info-box .text .date {
        font: 16px/18px "Open Sans",Arial,Helvetica,sans-serif;
    }
    .info-box .link{
        max-width: 280px;
    }
    .footer {
        padding: 25px 0;
    }
}
@media (max-width: 425px){
    .visual-box .img-holder {
        margin: 0 0 0 -50%;
    }
    .visual-box h2 {
        font: 300 28px/32px "Open Sans",Arial,Helvetica,sans-serif;
        padding: 190px 0 0;
    }
}
.btn-add-wrapper{
    display: block;
    text-align: center;
}
#buy_course .btn-add {
  display: inline-block;
  vertical-align: top;
  color: #303030;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background: #ffc600;
  background: -moz-linear-gradient(top, #ffc600 0%, #ffc600 49%, #ffa800 52%, #ffa800 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc600), color-stop(49%, #ffc600), color-stop(52%, #ffa800), color-stop(100%, #ffa800));
  background: -webkit-linear-gradient(top, #ffc600 0%, #ffc600 49%, #ffa800 52%, #ffa800 100%);
  background: -o-linear-gradient(top, #ffc600 0%, #ffc600 49%, #ffa800 52%, #ffa800 100%);
  background: -ms-linear-gradient(top, #ffc600 0%, #ffc600 49%, #ffa800 52%, #ffa800 100%);
  background: linear-gradient(to bottom, #ffc600 0%, #ffc600 49%, #ffa800 52%, #ffa800 100%);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #edac0e;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.6) inset;
  padding: 14px 40px 15px;
  margin: 0 0 20px;
  font-size: 28px;
  line-height: 31px;
  font-weight: bold;
}
#buy_course .btn-add:hover {
  background: #ffa800;
  background: -moz-linear-gradient(top, #ffa800 0%, #ffa800 49%, #ffc600 52%, #ffc600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa800), color-stop(49%, #ffa800), color-stop(52%, #ffc600), color-stop(100%, #ffc600));
  background: -webkit-linear-gradient(top, #ffa800 0%, #ffa800 49%, #ffc600 52%, #ffc600 100%);
  background: -o-linear-gradient(top, #ffa800 0%, #ffa800 49%, #ffc600 52%, #ffc600 100%);
  background: -ms-linear-gradient(top, #ffa800 0%, #ffa800 49%, #ffc600 52%, #ffc600 100%);
  background: linear-gradient(to bottom, #ffa800 0%, #ffa800 49%, #ffc600 52%, #ffc600 100%);
  text-decoration: none;
}